/* body style */
.conteinar {
    background-color: black;

}

.section-1 {
    background-color: rgba(17, 17, 17, 1);

}

/* header {

    margin-left: 93px;
} */
section nav {
    margin-left: 40px;
    margin-right: 50px;

}


/* nevigation styly */
.navbg {
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 90px;
    /* background-image: url(images/image\ 5.png); */
}

.navbg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
    display: inline-block;
    border: 1px solid rgb(92, 91, 91);
    border-radius: 10px;
    /* padding: .5%; */
    /* padding: 10px; */
    padding: 1.5%;

}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 40px;

    /* border: 10px solid white; */
}

nav ul li a.home {
    background-color: hwb(245 1% 85%);
    color: white;
    border: 0.75px solid #024141;
    border-radius: 10px;
    align-items: start;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-right: 12px;
}

p {
    color: white;
    font-size: 1.5em;
    font-style: italic;
}

p span {
    color: hwb(245 54% 22%);
}

.sec1-p{
    font-size: medium;
    color: rgb(192, 188, 188);
}

/* font in banner */
.h2 {
    color: white;
    font: 5em sans-serif;
}

/* .gap{
    margin-top: 0;
} */
/* banner sectioon*/
.nav-banner {
    display: flex;
    justify-content: space-between;
}

.img-banner {
    height: 500px;
}

/* button */

.button-1 {
    background-color: hwb(245 1% 85%);
    color: white;
    text-align: center;
    border: 0.75px solid #024141;
    border-radius: 10px;
    padding: 5px;

}

.button {
    text-align: center;
    border: 0.75px solid #024141;
    border-radius: 10px;
    padding: 5px;

}

.span {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

/* section 2 */
.h1-sec2 {
    color: white;
    text-align: center;
}

.p-sec2 {
    
    color: rgb(192, 188, 188);
    text-align: center;
    font-size: medium;

}

.h3-div {
    color: white;
    text-align: center;
}



.div2 {
    display: flex;
    align-items: center;
}

.section-2 {
    margin-left: 60px;
    margin-right: 50px;
}

.p-div {
    color: rgb(192, 188, 188);
    /* font-size: small; */
    font-size: medium;
}

.img-div {
    border-radius: 50%;
    margin-left: 60px;
}

/* section 3 */

/* .section-1 {
    background-color: rgba(17, 17, 17, 1);

} */
.sec-3 {
    margin-left: 60px;
    margin-right: 70px;
    background-color: rgba(17, 17, 17, 1);
    


}

.sec3-div2 {
    width: 90%;
}

.h-sec3 {
    color: white;
    text-align: left;
    font-size: 3em;
    margin: 0%;
    padding: 0%;
}

.sec-div-p {
    color: rgb(192, 188, 188);
    font-size: medium;
    
}

.sec3-div {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    
}

.div-img {

    border-radius: 5%;
}

.sec-3button {
    background-color: hwb(245 1% 85%);
    color: white;
    text-align: center;
    border: 0.75px solid #024141;
    border-radius: 10px;
    padding: 10px;
  

}

/* section4 */

.sec-4{
 margin-left: 60px;
 margin-right:70px;

}

.sec4-div{

    display: flex;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 0%; */
    
}


.h-sec4{
    color: white;
    text-align: left;
    font-size: 3em;
    margin: 0%;
    padding: 0%;
}

.img{
    height: 100%;
    width: 100%;
}

.grid-item1{
    height: 250px;
    width: 25%;
    
}
.grid-item2{
    height: 250px;
    width: 50%;
}
.grid-item3{
    height: 250px;
    width: 25%;
}

.sec4-div{
    flex:1;
}

.grid-item4{
    height: 250px;
    width: 50%;
}
.grid-item5{
    height: 250px;
    width: 25%;
}
.grid-item6{
    height: 250px;
    width: 25%;
}

/* section 5 */

.div-sec5{

    background-color: rgba(17, 17, 17, 1);
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 150px;
}
.di-sec5{
    margin: 0px;
}
.div1-sec5{
    padding-left: 300px;
    padding-bottom: 10px;
}


.h1-sec5{
    color: white;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}
.p-sec5{
    text-align:   center;
    color: rgb(192, 188, 188);
    font-size: medium;
}

.p1-sec5{
    text-align: left;
    color: rgb(192, 188, 188);
    font-size: medium;
}

.h-div-sec5{
    color: white;
}

.table-sec5{
    color: white;
    text-align: center;
}
table, th, td {
    border: 1px solid rgb(48, 47, 47);
    border-collapse: collapse;
    padding: 5px;
  }

  .form-sec5{
    display : inline-block;
  }

  .sec5-button{
    background-color: hwb(245 1% 85%);
    color: white;
    text-align: center;
    border: 0.75px solid #024141;
  }

  /* section 6 */
  .section-6{
    background-color: rgba(17, 17, 17, 1);
padding: 20px;
    margin-left: 60px;
 margin-right:70px;
 border-radius:5px;


  }
  .grid-item{
    height: 250px;
    width: 33%;
   
}

.sec4-div img{
    border-radius: 5%;
    
}

.sec4-div  div{
    margin: 6px;

}

/* section 7 */

.container1{
    background-color: rgba(17, 17, 17, 1);
    margin-top: 50px;
    color: white;
    padding-bottom: 10px;
}
.container{
   
    display: flex;
    justify-content: space-between;
    padding-left: 100px;    
    padding-right: 100px;

}

.container div p{
    font-size: medium;
    color: rgb(192, 188, 188);
}

.container ul li{
  
        
        list-style: none;
        color: rgb(192, 188, 188);
    
    
}

.h-footer{
    color:hwb(245 36% 45%);
}

.footer-div{
    border-bottom: 1px  rgb(121, 121, 117) solid ;
    width: 100%;
    
    
}

.footer-div1{
    font-size: medium;
    text-align: center;
    
}

.p-footer{
    color: rgb(192, 188, 188);
    font-size: medium;
}