/* body style */
.conteinar {
    background-color: black;

}

.section-1 {
    background-color: rgba(17, 17, 17, 1);

}

/* header {

    margin-left: 93px;
} */
section nav {
    margin-left: 40px;
    margin-right: 50px;

}


/* nevigation styly */
.navbg {
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 90px;
    /* background-image: url(images/image\ 5.png); */
}

.navbg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
    display: inline-block;
    border: 1px solid rgb(92, 91, 91);
    border-radius: 10px;
    /* padding: .5%; */
    /* padding: 10px; */
    padding: 1.5%;

}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 40px;

    /* border: 10px solid white; */
}

nav ul li a.home {
    background-color: hwb(245 1% 85%);
    color: white;
    border: 0.75px solid #024141;
    border-radius: 10px;
    align-items: start;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-right: 12px;
}

p {
    color: white;
    font-size: 1.5em;
    font-style: italic;
}

p span {
    color: hwb(245 54% 22%);
}

/* font in banner */
.h2 {
    color: white;
    font: 5.4em sans-serif;
}

/* .gap{
    margin-top: 0;
} */
/* banner sectioon*/
.nav-banner {
    display: flex;
    justify-content: space-between;
}

.img-banner {
    height: 650px;
}

/* button */

.button-1 {
    background-color: hwb(245 1% 85%);
    color: white;
    text-align: center;
    border: 0.75px solid #024141;
    border-radius: 10px;
    padding: 5px;

}

.button {
    text-align: center;
    border: 0.75px solid #024141;
    border-radius: 10px;
    padding: 5px;

}

.span {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

/* section 2 */
.h1-sec2 {
    color: white;
    text-align: center;
}

.p-sec2 {
    margin-top: 0%;
    color: rgb(100, 98, 98);
    text-align: center;

}

.h3-div {
    color: white;
    text-align: center;
}



.div2 {
    display: flex;
    align-items: center;
}

.section-2 {
    margin-left: 60px;

    margin-right: 50px;
}

.p-div {
    color: rgb(100, 98, 98);
}

.img-div {
    border-radius: 50%;
    margin-left: 60px;
}

/* section 3 */

/* .section-1 {
    background-color: rgba(17, 17, 17, 1);

} */
.sec-3 {
    margin-left: 60px;
    margin-right: 70px;
    background-color: rgba(17, 17, 17, 1);


}

.sec3-div2 {
    width: 90%;
}

.h-sec3 {
    color: white;
    text-align: left;
    font-size: 3em;
}

.sec-div-p {
    color: rgb(100, 98, 98);
}

.sec3-div {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.div-img {

    border-radius: 5%;
}

.sec-3button {
    background-color: hwb(245 1% 85%);
    color: white;
    text-align: center;
    border: 0.75px solid #024141;
    border-radius: 10px;
    padding: 10px;

}

/* section4 */
.grid-item1{
    background-image: url(images/exercise1.jpg);
    height: 323px;
    width: 218px;
}